* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --baby-pink: #f1a9a9;
    ---dark-baby-pink: #e66767;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(196deg, var(--baby-pink), var(---dark-baby-pink));
}