/* CSS Boilerplate */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --banner-pink: #E74694;
    --heading-color: #183b56;
    --para-color: #577592;
    --light-blue: #2294ED;
    --button-hover: #0061AD;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--para-color);
    line-height: 1.8rem;
    font-weight: 400;
    word-spacing: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

/* Utility Classes */
/* Banner Section */
.top-banner {
    background-color: var(--banner-pink);
    background-image: url(images/asset\ 32.png);
    background-size: 300px;
    background-repeat: repeat;
    padding: 10px 20px 10px 20px;
}

.top-banner-text{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Section */
.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo {
    max-width: 230px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-link {
    margin: 15px;
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.hover-link:hover {
    color: var(--light-blue);
    transition: 0.2s ease-out;
}

.sign-in {
    border: 1px solid var(--para-color);
    border-radius: 6px;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.sign-in:hover {
    border: 1px solid var(--light-blue);
}

.sign-up {
    background-color: var(--light-blue);
    color: white !important;            /* By this color of the dign-up button is always white, it does not change its colour on hover as that property is applicable to all the other links */
    border-radius: 6px;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.sign-up:hover {
    background-color: var(--button-hover);
}

/* header Section */
.introduction {
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.into-text {
    width: 30vw;
}

.into-text p {
    margin-top: 10px;
    font-family: 'Poppins';
}

.get-started-btn {
    background-color: var(--light-blue);
    color: white !important;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 6px;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.get-started-btn:hover {
    background-color: var(--button-hover);
}

.intro-img {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img {
    width: 600px;
}

/* Companies Section */
.companies {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.companies-text p{
    color: black;
    margin: 20px;
}

.companies-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px;
}

.cmp-logo {
    width: 200px;
}

.amazon {
    width: 120px;
}

.google {
    width: 120px;
}

.box {
    width: 80px;
}

/* Features Section */

.features-section {

    margin: 60px;

    background-image: url(images/asset\ 34.png);

    background-repeat: no-repeat;

    background-position: center;

}

.features-header {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}

.main-features {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(2, 1fr);

    gap: 60px;

    margin: 30px;

    margin-left: 275px;

    width: 1400px;

}

.features {

    width: 270px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}

.features-logo {

    width: 50px;

}

.features p {

    text-align: center;

}

.features-btn {

    border: 1px solid var(--para-color);

    border-radius: 6px;

    padding: 12px 24px;

    margin: 10px;

    font-weight: 600;

    transition: 0.2s ease-out;

    

}

.features-btn:hover {                       /* Both for feature-header button and main-feature button */

    border: 1px solid var(--light-blue);

    color: var(--light-blue);

}

