/* CSS Boilerplate */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --banner-pink: #E74694;
    --heading-color: #183b56;
    --para-color: #577592;
    --light-blue: #2294ED;
    --button-hover: #0061AD;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--para-color);
    line-height: 1.8rem;
    font-weight: 400;
    word-spacing: 1px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* TODO: */
/* Utility Classes */

.wrapper {
    overflow: hidden;
}

/* Banner Section */
.top-banner {
    background-color: var(--banner-pink);
    background-image: url(images/asset\ 32.png);
    background-size: 300px;
    background-repeat: repeat;
    padding: 10px 20px 10px 20px;
}

.top-banner-text{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Section */
.main-nav {
    padding: 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.logo {
    max-width: 230px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-toggle {
    display: none;      /* This will not display hamburger icon when on laptop version */
}

.hamburger-icon {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}
  
.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
}

/* FIXME: */
.transparent-btn {
    border: 1px solid var(--para-color);
    border-radius: 6px;
    padding: 12px 24px;
    margin: 10px;
    font-weight: 600;
    transition: 0.2s ease-out;
}

.hover-link {
    margin: 15px;
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.hover-link:hover {
    color: var(--light-blue);
    transition: 0.2s ease-out;
}

.transparent-btn:hover {                       /* Both for feature-header button and main-feature button */
    border: 1px solid var(--light-blue);
    color: var(--light-blue);
}

/* FIXME: */
.blue-btn {
    background-color: var(--light-blue);
    color: white !important;            /* By this color of the dign-up button is always white, it does not change its colour on hover as that property is applicable to all the other links */
    border-radius: 6px;
    font-weight: 600;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.blue-btn:hover {
    background-color: var(--button-hover);
}

/* TODO: */
/* header Section */
.introduction {
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.into-text {
    width: 30vw;
}

.into-text p {
    margin-top: 10px;
    font-family: 'Poppins';
}

.intro-img {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img {
    width: 600px;
}

/* TODO: */
/* Companies Section */
.companies {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.companies-text p{
    color: black;
    margin: 20px;
}

.companies-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px;
}

.cmp-logo {
    width: 200px;
}

.amazon {
    width: 120px;
}

.google {
    width: 120px;
}

.box {
    width: 80px;
}

/* TODO: */
/* Features Section */
.features-section {
    margin: 60px 60px 60px 0;
    background-image: url(images/asset\ 34.png);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    margin: 30px;
    margin-left: 275px;
    width: 1400px;
}

.features {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features-logo {
    width: 50px;
}

.features p {
    text-align: center;
}

/* TODO: */
/* examples section */
.examples {
    padding: 2vh 14vw;
    display: flex;
    flex-direction: column;
}

.example1 {
    display: flex;
    margin-bottom: 10vh;
}

.example-img {
    width: 70%;
}

.example-img img {
    width: 65%;
}

.example-text {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.example-text img {
    width: 35%;
    margin: 20px 0 20px 0;
}

.random-text {
    background-image: url(images/asset\ 35.png);
    background-repeat: no-repeat;
}

.person {
    display: flex;
    height: 55px;
    margin-top: 20px;
}

.person-img img {
    width: 55%;
    margin: 0;
}

.example2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10vh;
}

.left img {
    float: right;
}

.example3 {
    display: flex;
    margin-bottom: 10vh;
}

/* TODO: */
/* more-examples */
.more-examples {
    padding: 2vh 14vw;
    margin-bottom: 2%;
}

.examples-card {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.card {
    height: 370px;
    margin-top: 30px;
    width: 20%;
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    transition: 0.2s ease-out;
}

.card:hover {
    box-shadow: 0 0 10px #888;
}

.card h3 {
    position: absolute;
    bottom: 20px;
}

.card1-img {
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) ,url(images/asset\ 36.jpeg);
    object-fit: cover;
}

.card2-img {
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) ,url(images/asset\ 37.jpeg);
    object-fit: cover;
}

.card3-img {
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) ,url(images/asset\ 38.jpeg);
    object-fit: cover;
}

.card4-img {
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)) ,url(images/asset\ 39.jpeg);
    object-fit: cover;
}

/* TODO: */
/* Learn More Section */
.learn-more {
    background-color: #183B54;
    color: white;
    display: flex;
    align-items: center;
    padding: 2vh 14vw;
}

.learn-more-text {
    width: 50%;
    margin-top: 10px;
}

.learn-more-text p {
    color: #b9cde4;
}

.learn-more-text ul {
    color: #b9cde4;
}

.learn-more-img {
    margin-top: 10px;
}

.learn-more-img img {
    width: 80%;
    float: right;
}

.list {
    color: #b9cde4;
    display: flex;
    gap: 50px;
}

.list-ex {
    margin: 8px;
}

/* TODO: */
/* Get Started Section */
.get-started {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-started h2 {
    margin: 20px;
}

.get-started p {
    margin: 20px;
}

.get-started a {
    margin: 20px;
}

/* TODO: */
/* All Links Section */
.all-links {
    background: #EBF2FA;
    padding: 8vh 14vw;
    display: flex;
    justify-content: space-around;
}

.all-links a {
    display: flex;
    color: #577592;
}

/* TODO: */
/* Sub Footer Section */
.sub-footer {
    background-color: #B9CDE4;
    color: #577592;
    padding: 1.5vh 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imp-links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.social-media-links {
    float: left;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 20px;
}

.social-media-links img {
    width: 25px;
}