* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}

.circle1 {
    width: 19em;
    height: 19em;
    border-radius: 50%;
    background: linear-gradient(-25deg, #d84869, #f46641);
    top: 5%;
    left: 30%;
    box-shadow: 0 0 50px #d84869;
    position: absolute;
}

.circle2 {
    bottom: 5%;
    right: 30%;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    position: absolute;
}

.card {
    height: 450px;
    background: #ffffff1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 50px;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(15px);
}

.image {
    border: 2px solid #ffffff30;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-sizing: border-box;
}

.image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.userName h1 {
    font-size: 2rem;
    text-align: center;
}

.subHeading h2 {
    text-align: center;
    color: #ffffff85;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    border: 2px solid #ffffffb9;
    background: #ffffff00;
    color: #ffffffb9;
    cursor: pointer;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 9px 12px;
}
  
.btnShare {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
  
.btnFollow {
    width: 150px;
}
  
.btnFollow a {
    text-decoration: none;
    color: #ffffffb9;
}

.btn:hover {
    background: #ffffffb9;
    color: #131313;
}
  
.btnFollow:hover a {
    color: #131313;
}

