@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tilt+Warp&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.wrapper {
    /* overflow-x: hidden; */
    overflow-y: auto;
    
    perspective: 100px;      /* because we have to play 3D game, as the man is far away from the mountain */
    
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-40px) scale(2);
}

.foreground {
    transform: translateZ(-20px) scale(1.5);
}

.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    object-fit: cover ;
}