@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tilt+Warp&display=swap');

/* Mostly this confriguration used in all the websites */
* {                     
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#wrapper {
    /* as we wanted to make the whole website inside the wrapper so....... */
    height: 100vh;
    overflow-y: auto;   /* as we wanted to scroll the website in y direction */
    overflow-x: hidden; /* as we wanted to stop the scrolling of the website in x direction */

    /* as we wanted to make distance between man and the mountain (3D game) */
    perspective: 10px;  /* any value */

    

}

.container {
    /* now we wanted to overlap the images and the text */
    /* so we use "absolute" but it move with respect to nearest "non static" (relative) element */
    position: relative;
    height: 100%;

    /* as we wanted to make the "Adventure" text at center so.........*/
    display: flex;
    justify-content: center;
    align-items: center;
}