<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../stylesheets/index.css">
    <title>/ Route Page</title>
</head>

<body>

    <h1 style="color: white;">My age is <%= age %></h1>

    <div id="image-modal" class="image-modal">
      <span class="close" id="close-modal">&times;</span>
      <div class="modal-container">
        <img class="modal-content" id="modal-image" />
      </div>
    </div>

    <div class="gallery">
      <div class="gallery-wrapper">
        <div class="tall">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/01.jpg"
          />
        </div>
        <div class="wide">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/02.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/03.jpg"
          />
        </div>
        <div class="xl-wide">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/04.jpg"
          />
        </div>
        <div class="tall">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/05.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/06.jpg"
          />
        </div>
        <div class="big">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/07.jpg"
          />
        </div>
        <div class="xl-big">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/08.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/09.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/10.jpg"
          />
        </div>
        <div class="tall">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/11.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/12.jpg"
          />
        </div>
        <div>
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/13.jpg"
          />
        </div>
        <div class="tall">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/14.jpg"
          />
        </div>
        <div class="wide">
          <img
            src="https://cdn.ethancopping.com/codepen/Responsive%20Gallery/15.jpg"
          />
        </div>
      </div>
      <!-- Add more images here -->
    </div>

    <script src="../javascripts/index.js"></script>
</body>

</html>