<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../stylesheets/profile.css">

    <title>/profile page</title>
</head>

<body>
    <div class="bg-cover"></div>
    <div class="container">
        <div class="header">
            <i class="fa fa-bars"></i>
            <i class="fa fa-cog"></i>
        </div>
        <div class="middle">
            <img src="http://www.tomatinatrip.com/wp-content/uploads/2015/07/Picture-of-person.png" alt=""
                class="user-pic" />
            
            
            
                <h4 class="name"><%= name %></h4>
            
            
            
            <h4 class="work">ASP.net | HTML | CSS</h4>
            <h4 class="social"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
                    class="fa fa-dribbble"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-twitter"></i></h4>
        </div>
        <div class="footer">
            <button class="btn-follow">follow </button><br />
            <i class="fa fa-lock"></i>
            <br />
            <h4 class="profile-status">This profile is hidden</h4>
        </div>
    </div>

    <script src="../javascripts/profile.js"></script>
</body>

</html>